// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Heading font family
/// @type List
$heading-font: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Regulat font family
/// @type List
$regular-font: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(29, 29, 29) !default;

/// Secondary text color
/// @type Color
$text-secondary-color: rgb(60, 60, 59) !default;

/// Main brand color
/// @type Color
//$primary-color: rgb(56, 174, 114) !default;
$primary-color: rgb(0,191,129) !default;

/// Warning color
/// @type Color
$warning-color: rgb(255, 217, 74) !default;

/// Complimentary color
/// @type Color
$complimentary-color: rgb(0, 54, 122) !default;

/// Light grey
/// @type Color
$light-grey: rgb(245, 245, 245) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(156, 155, 155) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(111, 111, 110) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': (max-width: 320px),
  'sm': (max-width: 548px),
  'medium': (max-width: 768px),
  'large': (max-width: 1024px),
) !default;





/// z-index

// Z-Index Scale (private vars)
// --------------------------------------------------
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;

// Z-Index Applications
// --------------------------------------------------
$zIndex-1--screenForeground:        $zIndex-1;
$zIndex-1--followUpVisibility:      $zIndex-1;
$zIndex-1--prlWelcome:              $zIndex-1;





/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
